<div class="bg-transparent">
  <div class="container">
    <div class="row">
      <img
        src="../../../assets/images/logo-trenitalia.svg"
        alt="Treni Italia"
        class="w-25 h-25"
      />
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <ul class="list-unstyled">
          <li class="fw-bold fs-5">Chi siamo</li>
          <li>Parla con noi</li>
          <li>La sostenibilità</li>
          <li>Carriera</li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-unstyled">
          <li class="fw-bold fs-5">Assistenza</li>
          <li>Privacy</li>
          <li>Termini e condizioni</li>
          <li>Cookie</li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-unstyled">
          <li class="fw-bold fs-5">Contatti</li>
          <li>
            <img
              src="../../../assets/images/social/facebook.png"
              alt="Facebook"
              class="social me-2"
            />
            Facebook
          </li>
          <li>
            <img
              src="../../../assets/images/social/x.svg"
              alt="X"
              class="social me-2"
            />
            Twitter
          </li>
          <li>
            <img
              src="../../../assets/images/social/instagram.png"
              alt="Instagram"
              class="social me-2"
            />
            Instagram
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center">
        <p class="text-center m-0 text-dark fs-6">© 2022 Treni Italia</p>
      </div>
    </div>
  </div>
</div>
