<div class="bg-transparent">
  <div class="container">
    <nz-row>
      <nz-col nzSpan="24">
        <img
          src="../../../assets/images/logo-trenitalia.svg"
          alt="Treni Italia"
          class="foo-logo"
        />
      </nz-col>
    </nz-row>

    <nz-row [nzGutter]="[24, 24]" class="pt-4">
      <nz-col
        [nzLg]="{ span: 8, offset: 0 }"
        [nzMd]="{ span: 8, offset: 0 }"
        [nzSm]="{ span: 24, offset: 0 }"
        [nzXs]="{ span: 24, offset: 0 }"
        *ngFor="let section of ['Chi siamo', 'Assistenza', 'Contatti']"
      >
        <ul class="list-unstyled">
          <li class="fw-bold fs-5 mb-2">{{ section }}</li>
          <li *ngIf="section === 'Chi siamo'">Parla con noi</li>
          <li *ngIf="section === 'Chi siamo'">La sostenibilità</li>
          <li *ngIf="section === 'Chi siamo'">Carriera</li>

          <li *ngIf="section === 'Assistenza'">Privacy</li>
          <li *ngIf="section === 'Assistenza'">Termini e condizioni</li>
          <li *ngIf="section === 'Assistenza'">Cookie</li>

          <li *ngIf="section === 'Contatti'">
            <img
              src="../../../assets/images/social/facebook.png"
              alt="Facebook"
              class="social me-2"
            />
            Facebook
          </li>
          <li *ngIf="section === 'Contatti'">
            <img
              src="../../../assets/images/social/x.svg"
              alt="X"
              class="social me-2"
            />
            Twitter
          </li>
          <li *ngIf="section === 'Contatti'">
            <img
              src="../../../assets/images/social/instagram.png"
              alt="Instagram"
              class="social me-2"
            />
            Instagram
          </li>
        </ul>
      </nz-col>
    </nz-row>
  </div>

  <div class="bg-white py-2 mt-1 mt-md-3">
    <div class="container">
      <div class="text-center">
        <p class="text-dark m-0 fs-6">© 2022 Treni Italia</p>
      </div>
    </div>
  </div>
</div>
