<nav class="navbar navbar-expand-lg bg-body-white">
  <div class="container">
    <div class="d-none d-lg-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/images/logo-trenitalia.svg"
          alt="Treni Italia"
          class="logo"
          style="height: 40px"
        />
      </a>
    </div>

    <a class="navbar-brand d-lg-none" href="#">
      <img
        src="../../../assets/images/logo-trenitalia.svg"
        alt="Treni Italia"
        class="logo"
        style="height: 40px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse flex-grow-0 justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chi siamo</a>
        </li>
        <li class="nav-item dropdown">
          <a
            nz-dropdown
            [nzDropdownMenu]="menu"
            (nzVisibleChange)="change($event)"
            class="nav-link"
          >
            Cascading menu
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-submenu nzTitle="sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Seleziona"
          [(ngModel)]="selectedValue"
        >
          <nz-option
            *ngFor="let nav of selectNav"
            [nzLabel]="nav.label"
            [nzValue]="nav.value"
          ></nz-option>
        </nz-select>
      </form>
    </div>
  </div>
</nav>
