<div
  class="container d-flex flex-column h-75 text-center position-relative py-3 pt-5"
  *ngIf="data; else notFound"
>
  <!-- Intestazione -->
  <div class="w-100 text-start mb-4">
    <h1 class="text-uppercase m-0">{{ data.title }}</h1>
  </div>

  <!-- Corpo delle informazioni -->
  <div class="w-100 d-flex justify-content-between">
    <div class="w-50 text-start">
      <h5>{{ data.subtitle }}</h5>
      <p>{{ data.description }}</p>

      <nz-range-picker
        [(ngModel)]="dateRange"
        (ngModelChange)="onDateChange($event)"
        [nzDefaultPickerValue]="defaultRange"
        [nzFormat]="'dd/MM/yyyy'"
      ></nz-range-picker>

      <p><b>Durata viaggio: </b>{{ data.duration }}</p>
      <p><b>Prezzo: </b>{{ data.price }}€</p>

      <p *ngIf="!data.arrival && !data.departure" class="text-center mt-3">
        Nessun treno disponibile per questo percorso.
      </p>
      <a routerLink="/" class="btn btn-custom mt-3">Torna indietro</a>
    </div>

    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        nzHeader="Descrizione del viaggio"
        [nzActive]="true"
        class="text-start fs-6"
      >
        <h6>{{ data.description }}</h6>
        <h6>Orario di partenza: {{ data.departure | date }}</h6>
        <h6>Orario di arrivo: {{ data.arrival | date }}</h6>
        <h6>Posti disponibili: {{ data.seatsAvailable }}</h6>
        <h6>Tipo di treno: {{ data.trainType }}</h6>
        <h6>Servizi: {{ data.services.join(", ") }}</h6>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>

<ng-template #notFound>
  <p>Data not found. <a routerLink="/">Go back to list</a></p>
</ng-template>
