nz-range-picker {
  margin: 12px 0 12px 0;
}

.ant-collapse-borderless {
  width: 30%;
  background-color: transparent;
}

.btn-custom {
  background-color: #3c3c3c;
  color: white;
  border-radius: 8px;
}
