<div
  class="container d-flex flex-column text-center position-relative py-5"
  *ngIf="data; else notFound"
>
  <!-- Intestazione -->
  <div class="w-100 text-start mb-4">
    <h1 class="text-uppercase m-0">{{ data.title }}</h1>
  </div>

  <!-- Corpo delle informazioni -->
  <div class="w-100 row">
    <!-- Colonna delle informazioni generali -->
    <div class="col-12 col-md-6 text-start">
      <h5 class="mb-2">{{ data.subtitle }}</h5>
      <p>{{ data.description }}</p>

      <nz-range-picker
        [(ngModel)]="dateRange"
        (ngModelChange)="onDateChange($event)"
        [nzDefaultPickerValue]="defaultRange"
        [nzFormat]="'dd/MM/yyyy'"
      ></nz-range-picker>

      <p class="mb-2"><b>Durata viaggio: </b>{{ data.duration }}</p>
      <p class="mb-2"><b>Prezzo: </b>{{ data.price }}€</p>

      <p *ngIf="!data.arrival && !data.departure" class="text-center mt-3">
        Nessun treno disponibile per questo percorso.
      </p>
      <a routerLink="/" class="btn btn-custom mt-3">Torna indietro</a>
    </div>

    <!-- Colonna del pannello descrizione del viaggio -->
    <div class="col-12 offset-md-1 col-md-5 pt-3 pt-md-0">
      <nz-collapse [nzBordered]="false" class="w-100">
        <nz-collapse-panel
          nzHeader="Descrizione del viaggio"
          [nzActive]="true"
          class="text-start fs-6"
        >
          <div class="d-flex flex-column gap-2">
            <h6>{{ data.description }}</h6>
            <h6>Orario di partenza: {{ data.departure | date }}</h6>
            <h6>Orario di arrivo: {{ data.arrival | date }}</h6>
            <h6>Posti disponibili: {{ data.seatsAvailable }}</h6>
            <h6>Tipo di treno: {{ data.trainType }}</h6>
            <h6>Servizi: {{ data.services.join(", ") }}</h6>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</div>

<ng-template #notFound>
  <p>Treno non trovato. <a routerLink="/">Torna alla lista</a></p>
</ng-template>
