<nz-layout>
  <!-- Sidebar per i contatti -->
  <nz-sider
    [nzWidth]="300"
    [nzCollapsible]="true"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="d-flex justify-content-around align-items-center logo">
      <div class="left-section">
        <h2 *ngIf="!isCollapsed" class="sidebar-header fs-5">Chat</h2>
      </div>
      <div class="right-section">
        <a (click)="newChat = true">
          <img src="../../../assets/images/whatsApp/add.svg" alt="New Chat" />
        </a>
      </div>
    </div>

    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="newChat"
      [nzPlacement]="'left'"
      nzTitle="Nuova chat"
      (nzOnClose)="newChat = false"
    >
      <ng-container *nzDrawerContent>
        <div class="chat-creation">
          <input
            [(ngModel)]="searchQuery"
            (ngModelChange)="filterContacts()"
            class="form-control"
            placeholder="Cerca contatti..."
          />

          <ul class="contact-list">
            <li
              *ngFor="let contact of filteredContacts"
              (click)="startChat(contact)"
              onkeyup="startChat(contact)"
            >
              <div class="contact">
                <nz-avatar
                  *ngIf="contact.avatar[0]; else letterAvatar"
                  nzSize="large"
                  [nzSrc]="contact.avatar[0]"
                  nzText="{{ contact.avatar[0] }}"
                  class="contact-avatar mr-3"
                ></nz-avatar>

                <ng-template #letterAvatar>
                  <nz-avatar
                    nzSize="large"
                    nzText="{{ contact.avatar }}"
                    class="contact-avatar mr-3"
                  ></nz-avatar>
                </ng-template>

                <span>{{ contact.name }}</span>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
    </nz-drawer>

    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li
        *ngFor="let contact of contacts"
        nz-menu-item
        (click)="selectContact(contact)"
        onkeydown="selectContact(contact)"
        style="height: 100%"
      >
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <nz-avatar
              nzSize="small"
              nzText="{{ contact.avatar[0] }}"
              class="contact-avatar"
            ></nz-avatar>

            <div class="contact-details d-flex flex-column ms-2">
              <span class="contact-name" *ngIf="!isCollapsed">{{
                contact.name
              }}</span>
              <span class="last-message" *ngIf="contact.lastMessage">{{
                contact.lastMessage
              }}</span>
            </div>
          </div>

          <div class="contact-date">
            <span class="date" *ngIf="contact.lastActive">
              {{ contact.lastActive | date : "shortTime" }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </nz-sider>

  <!-- Layout principale -->
  <nz-layout>
    <nz-header>
      <div
        class="d-flex flex-column justify-content-start align-items-start"
        *ngIf="selectedContact"
      >
        <div class="d-flex align-items-center h-25">
          <nz-avatar
            nzSize="large"
            nzText="{{ selectedContact.avatar[0] }}"
            class="contact-avatar mr-3"
            (click)="isDrawerVisible = true"
            onkeyup="isDrawerVisible = true"
          ></nz-avatar>
          <div class="ms-3">
            <h3 class="contact-name">{{ selectedContact.name }}</h3>
            <span class="last-seen"
              >Ultimo accesso alle:
              {{ selectedContact.lastActive | date : "HH:mm" }}</span
            >
          </div>
        </div>
      </div>
    </nz-header>

    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="isDrawerVisible"
      nzPlacement="right"
      nzTitle="Info contatto"
      (nzOnClose)="isDrawerVisible = false"
    >
      <ng-container *nzDrawerContent>
        <div class="details-info" *ngIf="selectedContact">
          <nz-avatar
            nzSize="large"
            nzText="{{ selectedContact.avatar[0] }}"
            class="details-avatar"
          ></nz-avatar>
          <h3 class="details-name">{{ selectedContact.name }}</h3>
          <p class="details-number">+39 366 4567890</p>

          <div class="details-info-text">
            <p class="details-info-title">Info</p>
            <p>Ciao! Sto usando WhatsApp.</p>
          </div>
        </div>
      </ng-container>
    </nz-drawer>

    <nz-content>
      <div class="chat-container">
        <!-- Chat selezionata -->
        <div
          *ngIf="selectedContact; else noContactSelected"
          class="chat-content"
        >
          <div class="messages">
            <div
              *ngFor="let message of selectedContact.messages"
              [class]="
                message.sender === 'me'
                  ? 'message outgoing'
                  : 'message incoming'
              "
            >
              <p>{{ message.content }}</p>
              <span class="message-time">{{
                message.timestamp | date : "HH:mm"
              }}</span>
            </div>
          </div>
        </div>

        <!-- Input per inviare messaggi -->
        <div *ngIf="isContactSelected" class="message-input-container">
          <button class="add-button">+</button>
          <input
            [(ngModel)]="newMessageContent"
            placeholder="Scrivi un messaggio"
            (keyup.enter)="sendMessage()"
            class="message-input"
          />
          <button (click)="sendMessage()" class="send-button">
            <img
              src="../../../assets/images/whatsApp/send.svg"
              alt="Send Message"
            />
          </button>
        </div>
        <!-- Messaggio se nessun contatto è selezionato -->
        <ng-template #noContactSelected>
          <div class="no-contact">
            <p>Seleziona un contatto per iniziare a chattare!</p>
          </div>
        </ng-template>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
